<header>
    <div class="topnav">
       <div>
        <a href="" routerLink="/"> MyCreation</a>
        <div class="image">
          <img src="./assets/images.png" alt="log in image" width="50" height="40">

        </div>
       </div>
    </div>
</header>

  <div class="sidebar">
    
      <a class="active" href="" routerLink="/">Home</a>
      <a href="" routerLink="about">About</a>
      <a href="" routerLink="service">Services</a>
      <!-- <a href="" routerLink="clients">Clients</a> -->
      
    
  
  </div>
 
  
<router-outlet></router-outlet>